
<!-- buttons -->
<div style="display: flex; flex-wrap: wrap; background-color: rgb(10, 10, 65)">
  <span
    *ngFor="let item of items"
    [ngStyle]="{
      'background-color': TYPE === item ? 'gainsboro' : '',
      color: TYPE === item ? 'black' : 'white',
      padding: '1% 2%',
      'border-right': '1px solid gray',
      cursor: 'pointer',
    }"
    (click)="onClick(item)"
  >
    {{ item }}
  </span>
</div>

<!-- table -->
<div class="mat-elevation-z8">
  <table
    mat-table
    [dataSource]="dataSource2"
    matSort
    (matSortChange)="announceSortChange($event)"
  >
    <!-- short Company Column -->
    <ng-container matColumnDef="short">
      <th
        style="background-color: gainsboro"
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
      >
        Company
      </th>
      <td mat-cell *matCellDef="let element">{{ element.short }}</td>
    </ng-container>

    <!-- score -->
    <ng-container matColumnDef="score">
      <th
        style="background-color: gainsboro"
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
      >
        Score
      </th>
      <td mat-cell *matCellDef="let element">
        <span>{{ element.dotsum.scoreText }}</span>
        <span> | score </span>
        <span>{{ element.dotsum.score }}</span>
      </td>
    </ng-container>

    <!-- cmp latest Price -->
    <ng-container matColumnDef="cmp">
      <th style="background-color: gainsboro" mat-header-cell *matHeaderCellDef>
        <div>
          <span
            (click)="sortBy('cmp')"
            [ngClass]="{ active: isSortActive('cmp') }"
          >
            Latest Price
            <mat-icon [ngClass]="getSortIconClass('cmp')"
              >arrow_downward</mat-icon
            >
          </span>
        </div>
        <div>
          <span
            (click)="sortBy('chg')"
            [ngClass]="{ active: isSortActive('chg') }"
            style="font-size: small; color: gray"
          >
            Changes
            <mat-icon [ngClass]="getSortIconClass('chg')"
              >arrow_downward</mat-icon
            >
          </span>
        </div>
      </th>
      <td mat-cell *matCellDef="let element">
        <div>{{ element.cmp }}</div>
        <div>{{ element.chg }}</div>
      </td>
    </ng-container>

    <!-- iprice -->
    <ng-container matColumnDef="iprice">
      <th style="background-color: gainsboro" mat-header-cell *matHeaderCellDef>
        <div>
          <span
            (click)="sortBy('iprice')"
            [ngClass]="{ active: isSortActive('iprice') }"
          >
            Inv.Price
            <mat-icon [ngClass]="getSortIconClass('iprice')"
              >arrow_downward</mat-icon
            >
          </span>
        </div>
        <div>
          <span
            (click)="sortBy('iqty')"
            [ngClass]="{ active: isSortActive('iqty') }"
            style="font-size: small; color: gray"
          >
            Quality
            <mat-icon [ngClass]="getSortIconClass('iqty')"
              >arrow_downward</mat-icon
            >
          </span>
        </div>
      </th>
      <td mat-cell *matCellDef="let element">
        <div>{{ element.iprice }}</div>
        <div>{{ element.iqty }}</div>
      </td>
    </ng-container>

    <!-- dgain -->
    <ng-container matColumnDef="dgain">
      <th style="background-color: gainsboro" mat-header-cell *matHeaderCellDef>
        <div>
          <span
            (click)="sortBy('dgain')"
            [ngClass]="{ active: isSortActive('dgain') }"
          >
            Day's Gain
            <mat-icon [ngClass]="getSortIconClass('dgain')"
              >arrow_downward</mat-icon
            >
          </span>
        </div>
        <div>
          <span
            (click)="sortBy('dgainp')"
            [ngClass]="{ active: isSortActive('dgainp') }"
            style="font-size: small; color: gray"
          >
            in %
            <mat-icon [ngClass]="getSortIconClass('dgainp')"
              >arrow_downward</mat-icon
            >
          </span>
        </div>
      </th>
      <td mat-cell *matCellDef="let element">
        <div>{{ element.dgain }}</div>
        <div>{{ element.dgainp }}</div>
      </td>
    </ng-container>

    <!-- unrgain -->
    <ng-container matColumnDef="unrgain">
      <th style="background-color: gainsboro" mat-header-cell *matHeaderCellDef>
        <div>
          <span
            (click)="sortBy('unrgain')"
            [ngClass]="{ active: isSortActive('unrgain') }"
          >
            Unrealized Gain
            <mat-icon [ngClass]="getSortIconClass('unrgain')"
              >arrow_downward</mat-icon
            >
          </span>
        </div>
        <div>
          <span
            (click)="sortBy('unrgainp')"
            [ngClass]="{ active: isSortActive('unrgainp') }"
            style="font-size: small; color: gray"
          >
            in %
            <mat-icon [ngClass]="getSortIconClass('unrgainp')"
              >arrow_downward</mat-icon
            >
          </span>
        </div>
      </th>
      <td mat-cell *matCellDef="let element">
        <div>{{ element.unrgain }}</div>
        <div>{{ element.unrgainp }}</div>
      </td>
    </ng-container>

    <!-- tech_score  -->
    <ng-container matColumnDef="tech_score">
      <th
        style="background-color: gainsboro"
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
      >
        Technical Score
      </th>
      <td mat-cell *matCellDef="let element">
        <div>{{ element.dotsum.tech_score }}</div>
      </td>
    </ng-container>

    <!-- lval Latest value -->
    <ng-container matColumnDef="lval">
      <th
        style="background-color: gainsboro"
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
      >
        Latest Value
      </th>
      <td mat-cell *matCellDef="let element">
        <div>{{ element.lval }}</div>
      </td>
    </ng-container>

    <!-- Header and Row Definitions -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
