<div
  style="
    width: 100%;
    background-color: antiquewhite;
    height: 300px;
    text-align: center;
    place-content: center;
  "
>
  <div style="font-size: larger; font-weight: 600">YOUR SWITCHER RESULT</div>

  <div>
    <span>-----</span>
    <span>Q</span>
    <span>-----</span>
  </div>

  <div>
    <div>You Can Choose to Switch from HDFC Life Insur.</div>
    <div>To</div>
    <div>Manappuram Fin.</div>
  </div>

  <div>
    <span>-----</span>
    <span>Q</span>
    <span>-----</span>
  </div>


  <div>
    download report
  </div>
</div>
