<!-- buttons -->
<div style="display: flex; flex-wrap: wrap; background-color: rgb(10, 10, 65)">
  <span
    *ngFor="let item of items"
    [ngStyle]="{
      'background-color': TYPE === item ? 'gainsboro' : '',
      color: TYPE === item ? 'black' : 'white',
      padding: '1% 1.5%',
      'border-right': '1px solid gray',
      cursor: 'pointer',
      'font-size': '12px',

    }"
    (click)="onClick(item)"
  >
    {{ item }}
  </span>
</div>

<!-- table -->
<div class="mat-elevation-z8">
  <table
    mat-table
    [dataSource]="dataSource2"
    matSort
    (matSortChange)="announceSortChange($event)"
  >
    <!-- holding  -->
    <!-- short Company Column -->
    <ng-container matColumnDef="short">
      <th
        style="background-color: gainsboro"
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
      >
        Company
      </th>
      <td mat-cell *matCellDef="let element">
        <span
          *ngIf="element.details!"
          (click)="togglePanel(element)"
          style="cursor: pointer; top: 0%; left: 0%; z-index: 2"
        >
          <img
            style="margin-left: 5px"
            *ngIf="expandedElement !== element"
            src="https://i.marketsmojo.com/next_ico.png"
            alt="img_next"
          />
          <img
            style="margin-left: 5px"
            *ngIf="expandedElement === element"
            src="https://i.marketsmojo.com/next_ico_dwn.png"
            alt="img_down"
          />
        </span>

        <!--  -->
        <mat-accordion>
          <mat-expansion-panel
            [expanded]="expandedElement === element"
            #shortPanel
            hideToggle
          >
            <mat-expansion-panel-header>
              <!-- <mat-panel-title> This is the expansion title </mat-panel-title> -->
              <mat-panel-description>
                {{ element.short }}
              </mat-panel-description>
            </mat-expansion-panel-header>

            <!-- <p>This is the primary content of the panel.</p> -->
          </mat-expansion-panel>
        </mat-accordion>
        <!--  -->
      </td>
    </ng-container>

    <!-- score -->
    <ng-container matColumnDef="score">
      <th
        style="background-color: gainsboro"
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
      >
        Score
      </th>
      <td mat-cell *matCellDef="let element">
        <!--  -->
        <mat-accordion>
          <mat-expansion-panel
            [expanded]="expandedElement === element"
            #shortPanel
            hideToggle
          >
            <mat-expansion-panel-header>
              <!-- <mat-panel-title> This is the expansion title </mat-panel-title> -->
              <mat-panel-description>
                <!--  -->
                <div
                  style="
                    position: relative;
                    display: flex;
                    justify-content: center;
                    margin: 8px;
                    padding: 5px;
                    border-radius: 7px;
                    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
                  "
                  [ngStyle]="{ color: element.dotsum.f_clr }"
                >
                  <!-- Overlay div -->
                  <div
                    *ngIf="element.show_mojostock == 'yes'"
                    style="
                      position: absolute;
                      top: -7px;
                      left: 5px;
                      right: 7px;
                      bottom: 23px;
                      background: red;
                      border-radius: 7px;
                      z-index: 1;
                      transform: translateZ(0);
                    "
                  >
                    <p
                      style="
                        color: white;
                        font-size: x-small;
                        text-align: center;
                      "
                      [ngStyle]="{ 'background-color': element.dotsum.v_clr }"
                    >
                      {{ element.product_icon_list[0].name }}
                    </p>
                  </div>

                  <!-- Existing content -->
                  <div
                    style="
                      position: relative;
                      z-index: 2;
                      display: flex;
                      align-items: center;
                    "
                  >
                    <span style="margin-right: 8px">
                      <strong>
                        {{ element.dotsum.scoreText }}
                      </strong>
                    </span>
                    <span style="margin-right: 8px"> | score </span>
                    <span>
                      {{ element.dotsum.score }}
                    </span>
                  </div>
                </div>

                <!--  -->
              </mat-panel-description>
            </mat-expansion-panel-header>

            <!-- <p>This is the primary content of the panel.</p>
            <p>This is the primary content of the panel.</p> -->
          </mat-expansion-panel>
        </mat-accordion>
        <!--  -->
      </td>
    </ng-container>

    <!-- cmp latest Price -->
    <ng-container matColumnDef="cmp">
      <th style="background-color: gainsboro" mat-header-cell *matHeaderCellDef>
        <div>
          <span
            (click)="sortBy('cmp')"
            [ngClass]="{ active: isSortActive('cmp') }"
          >
            Latest Price
            <mat-icon [ngClass]="getSortIconClass('cmp')"
              >arrow_downward</mat-icon
            >
          </span>
        </div>
        <div>
          <span
            (click)="sortBy('chg')"
            [ngClass]="{ active: isSortActive('chg') }"
            style="font-size: small; color: gray"
          >
            Changes
            <mat-icon [ngClass]="getSortIconClass('chg')"
              >arrow_downward</mat-icon
            >
          </span>
        </div>
      </th>

      <td
        [ngStyle]="{
          color: getColor(element.chg),
          'background-color': getBgColor(element.chg)
        }"
        mat-cell
        *matCellDef="let element"
      >
        <!--  -->
        <mat-accordion>
          <mat-expansion-panel
            [expanded]="expandedElement === element"
            #shortPanel
            hideToggle
          >
            <mat-expansion-panel-header>
              <mat-panel-description>
                <div>
                  <div>{{ element.cmp }}</div>
                  <div style="color: gray">{{ element.chg }}</div>
                </div>
              </mat-panel-description>
            </mat-expansion-panel-header>

            <!-- Details section that will be shown when the panel is expanded -->
            <!-- <div *ngIf="element.details!">
          <div *ngFor="let detail of element.details">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <div>{{ detail.cmp }}</div>
                <div>{{ detail.chg }}</div>
              </mat-panel-title>
            </mat-expansion-panel-header>
          </div>
        </div> -->
          </mat-expansion-panel>
        </mat-accordion>
        <!--  -->
      </td>
    </ng-container>

    <!-- iprice, iqty -->
    <ng-container matColumnDef="iprice">
      <th style="background-color: gainsboro" mat-header-cell *matHeaderCellDef>
        <div>
          <span
            (click)="sortBy('iprice')"
            [ngClass]="{ active: isSortActive('iprice') }"
            style="display: flex; align-items: center"
          >
            Inv.Price
            <mat-icon [ngClass]="getSortIconClass('iprice')"
              >arrow_downward</mat-icon
            >
          </span>
        </div>
        <div>
          <span
            (click)="sortBy('iqty')"
            [ngClass]="{ active: isSortActive('iqty') }"
            style="
              font-size: small;
              color: gray;
              display: flex;
              align-items: center;
            "
          >
            Quality
            <mat-icon [ngClass]="getSortIconClass('iqty')"
              >arrow_downward</mat-icon
            >
          </span>
        </div>
      </th>
      <td mat-cell *matCellDef="let element">
        <div>
          <mat-expansion-panel
            [expanded]="expandedElement === element"
            (opened)="expandedElement = element"
            (closed)="expandedElement = null"
            hideToggle
            style="width: 100%; padding: 0%"
          >
            <mat-expansion-panel-header>
              <div
                style="
                  display: grid;
                  width: 100%;
                  justify-content: left;
                  text-align: left;
                  margin-top: 5%;
                  margin-left: 0px;
                "
              >
                <div>{{ element.iprice }}</div>
                <div style="height: 20px">{{ element.iqty }}</div>
              </div>
            </mat-expansion-panel-header>

            <!-- Details section that will be shown when the panel is expanded -->
            <div
              *ngIf="element.details && element.details.length > 0"
              style="width: 100%; padding-right: 10px; text-align: center"
            >
              <div
                *ngFor="let detail of element.details; let i = index"
                style="
                  margin-bottom: 10px;
                  padding-right: 10px;
                  margin-top: 6px;
                "
              >
                <div
                  style="
                    display: flex;
                    flex-direction: column;
                    margin-top: 0px;
                    text-align: left;
                  "
                >
                  <!-- Horizontal line between rows -->
                  <hr
                    *ngIf="i < element.details.length - 1"
                    style="border: 1px solid black"
                  />
                  <div>{{ detail.iprice }}</div>
                  <div>{{ detail.iqty }}</div>
                  <!-- Horizontal line between rows -->
                  <hr
                    *ngIf="i < element.details.length - 1"
                    style="border: 1px solid black"
                  />
                </div>
              </div>
            </div>
            <!-- Details section that will be shown when the panel is expanded end... -->
          </mat-expansion-panel>
        </div>
      </td>
    </ng-container>

    <!-- ival, idate inv value  -->
    <ng-container matColumnDef="ival">
      <th style="background-color: gainsboro" mat-header-cell *matHeaderCellDef>
        <div>
          <span
            (click)="sortBy('ival')"
            [ngClass]="{ active: isSortActive('ival') }"
            style="display: flex; align-items: center"
          >
            Inv. Value
            <mat-icon [ngClass]="getSortIconClass('ival')"
              >arrow_downward</mat-icon
            >
          </span>
        </div>
        <div>
          <span
            (click)="sortBy('idate')"
            [ngClass]="{ active: isSortActive('idate') }"
            style="
              font-size: small;
              color: gray;
              display: flex;
              align-items: center;
            "
          >
            Inv. Date
            <mat-icon [ngClass]="getSortIconClass('idate')"
              >arrow_downward</mat-icon
            >
          </span>
        </div>
      </th>
      <td mat-cell *matCellDef="let element">
        <div>
          <mat-expansion-panel
            [expanded]="expandedElement === element"
            (opened)="expandedElement = element"
            (closed)="expandedElement = null"
            hideToggle
            style="width: 100%; padding: 0%"
          >
            <mat-expansion-panel-header>
              <div
                style="
                  display: grid;
                  width: 100%;
                  justify-content: left;
                  text-align: left;
                  margin-top: 5%;
                  margin-left: 0px;
                "
              >
                <div>{{ element.ival }}</div>
                <div style="font-size: small; color: gray; height: 20px">
                  {{ element.idate }}
                </div>
              </div>
            </mat-expansion-panel-header>

            <!-- Details section that will be shown when the panel is expanded -->
            <div
              *ngIf="element.details && element.details.length > 0"
              style="width: 100%; padding-right: 10px; text-align: center"
            >
              <div
                *ngFor="let detail of element.details; let i = index"
                style="
                  margin-bottom: 10px;
                  padding-right: 10px;
                  margin-top: 6px;
                "
              >
                <div
                  style="
                    display: flex;
                    flex-direction: column;
                    margin-top: 0px;
                    text-align: left;
                  "
                >
                  <!-- Horizontal line between rows -->
                  <hr
                    *ngIf="i < element.details.length - 1"
                    style="border: 1px solid black"
                  />
                  <div>{{ detail.ival }}</div>
                  <div style="font-size: small; color: gray">
                    {{ detail.idate }}
                  </div>
                  <!-- Horizontal line between rows -->
                  <hr
                    *ngIf="i < element.details.length - 1"
                    style="border: 1px solid black"
                  />
                </div>
              </div>
            </div>
            <!-- Details section that will be shown when the panel is expanded end... -->
          </mat-expansion-panel>
        </div>
      </td>
    </ng-container>

    <!-- dgain, dgainp Day's Gain  -->
    <ng-container matColumnDef="dgain">
      <th style="background-color: gainsboro" mat-header-cell *matHeaderCellDef>
        <div>
          <span
            (click)="sortBy('dgain')"
            [ngClass]="{ active: isSortActive('dgain') }"
            style="display: flex; align-items: center"
          >
            Day's Gain
            <mat-icon [ngClass]="getSortIconClass('dgain')"
              >arrow_downward</mat-icon
            >
          </span>
        </div>
        <div>
          <span
            (click)="sortBy('dgainp')"
            [ngClass]="{ active: isSortActive('dgainp') }"
            style="
              font-size: small;
              color: gray;
              display: flex;
              align-items: center;
            "
          >
            in%
            <mat-icon [ngClass]="getSortIconClass('dgainp')"
              >arrow_downward</mat-icon
            >
          </span>
        </div>
      </th>
      <td
        [ngStyle]="{
          color: getColor(element.dgainp),
          'background-color': getBgColor(element.dgainp)
        }"
        mat-cell
        *matCellDef="let element"
      >
        <div>
          <mat-expansion-panel
            [expanded]="expandedElement === element"
            (opened)="expandedElement = element"
            (closed)="expandedElement = null"
            hideToggle
            style="width: 100%; padding: 0%"
          >
            <mat-expansion-panel-header>
              <div
                style="
                  display: grid;
                  width: 100%;
                  justify-content: left;
                  text-align: left;
                  margin-top: 5%;
                  margin-left: 0px;
                "
              >
                <div>{{ element.dgain }}</div>
                <div style="font-size: small; color: gray; height: 20px">
                  {{ element.dgainp }}
                </div>
              </div>
            </mat-expansion-panel-header>

            <!-- Details section that will be shown when the panel is expanded -->
            <div
              *ngIf="element.details && element.details.length > 0"
              style="width: 100%; padding-right: 10px; text-align: center"
            >
              <div
                *ngFor="let detail of element.details; let i = index"
                style="
                  margin-bottom: 10px;
                  padding-right: 10px;
                  margin-top: 6px;
                "
              >
                <div
                  style="
                    display: flex;
                    flex-direction: column;
                    margin-top: 0px;
                    text-align: left;
                  "
                >
                  <!-- Horizontal line between rows -->
                  <hr
                    *ngIf="i < element.details.length - 1"
                    style="border: 1px solid black"
                  />
                  <div>{{ detail.dgain }}</div>
                  <div style="font-size: small; color: gray">
                    {{ detail.dgainp }}
                  </div>
                  <!-- Horizontal line between rows -->
                  <hr
                    *ngIf="i < element.details.length - 1"
                    style="border: 1px solid black"
                  />
                </div>
              </div>
            </div>
            <!-- Details section that will be shown when the panel is expanded end... -->
          </mat-expansion-panel>
        </div>
      </td>
    </ng-container>

    <!-- unrgain, unrgainp Day's Gain  -->
    <ng-container matColumnDef="unrgain">
      <th style="background-color: gainsboro" mat-header-cell *matHeaderCellDef>
        <div>
          <span
            (click)="sortBy('unrgain')"
            [ngClass]="{ active: isSortActive('unrgain') }"
            style="display: flex; align-items: center"
          >
            Unrealized Gain
            <mat-icon [ngClass]="getSortIconClass('unrgain')"
              >arrow_downward</mat-icon
            >
          </span>
        </div>
        <div>
          <span
            (click)="sortBy('unrgainp')"
            [ngClass]="{ active: isSortActive('unrgainp') }"
            style="
              font-size: small;
              color: gray;
              display: flex;
              align-items: center;
            "
          >
            in%
            <mat-icon [ngClass]="getSortIconClass('unrgainp')"
              >arrow_downward</mat-icon
            >
          </span>
        </div>
      </th>
      <td
        [ngStyle]="{
          color: getColor(element.unrgainp),
          'background-color': getBgColor(element.unrgainp)
        }"
        mat-cell
        *matCellDef="let element"
      >
        <div>
          <mat-expansion-panel
            [expanded]="expandedElement === element"
            (opened)="expandedElement = element"
            (closed)="expandedElement = null"
            hideToggle
            style="width: 100%; padding: 0%"
          >
            <mat-expansion-panel-header>
              <div
                style="
                  display: grid;
                  width: 100%;
                  justify-content: left;
                  text-align: left;
                  margin-top: 5%;
                  margin-left: 0px;
                "
              >
                <div>{{ element.unrgain }}</div>
                <div style="font-size: small; color: gray; height: 20px">
                  {{ element.unrgainp }}
                </div>
              </div>
            </mat-expansion-panel-header>

            <!-- Details section that will be shown when the panel is expanded -->
            <div
              *ngIf="element.details && element.details.length > 0"
              style="width: 100%; padding-right: 10px; text-align: center"
            >
              <div
                *ngFor="let detail of element.details; let i = index"
                style="
                  margin-bottom: 10px;
                  padding-right: 10px;
                  margin-top: 6px;
                "
              >
                <div
                  style="
                    display: flex;
                    flex-direction: column;
                    margin-top: 0px;
                    text-align: left;
                  "
                >
                  <!-- Horizontal line between rows -->
                  <hr
                    *ngIf="i < element.details.length - 1"
                    style="border: 1px solid black"
                  />
                  <div>{{ detail.unrgain }}</div>
                  <div style="font-size: small; color: gray">
                    {{ detail.unrgainp }}
                  </div>
                  <!-- Horizontal line between rows -->
                  <hr
                    *ngIf="i < element.details.length - 1"
                    style="border: 1px solid black"
                  />
                </div>
              </div>
            </div>
            <!-- Details section that will be shown when the panel is expanded end... -->
          </mat-expansion-panel>
        </div>
      </td>
    </ng-container>

    <!-- lval latest value -->
    <ng-container matColumnDef="lval">
      <th
        style="background-color: gainsboro"
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
      >
        Latest Value
      </th>
      <td mat-cell *matCellDef="let element">
        <!--  -->
        <mat-accordion>
          <mat-expansion-panel
            [expanded]="expandedElement === element"
            #shortPanel
            hideToggle
          >
            <mat-expansion-panel-header>
              <!-- <mat-panel-title> This is the expansion title </mat-panel-title> -->
              <mat-panel-description>
                {{ element.lval }}
              </mat-panel-description>
            </mat-expansion-panel-header>

            <!-- <p>This is the primary content of the panel.</p> -->
          </mat-expansion-panel>
        </mat-accordion>
        <!--  -->
      </td>
    </ng-container>

    <!-- Header and Row Definitions -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>

<!-- og -->
<div class="mat-elevation-z8">
  <mat-accordion>
    <mat-expansion-panel
      hideToggle
      [expanded]="false"
      *ngFor="let element of dataSource2.data"
    >
      <mat-expansion-panel-header>
        <mat-panel-description>
          <ng-container>
            <!-- <th style="background-color: gainsboro" mat-header-cell *matHeaderCellDef>
              <div>
                <span
                  (click)="sortBy('iprice')"
                  [ngClass]="{ active: isSortActive('iprice') }"
                >
                  Inv.Price
                  <mat-icon [ngClass]="getSortIconClass('iprice')"
                    >arrow_downward</mat-icon
                  >
                </span>
              </div>
              <div>
                <span
                  (click)="sortBy('iqty')"
                  [ngClass]="{ active: isSortActive('iqty') }"
                  style="font-size: small; color: gray"
                >
                  Quality
                  <mat-icon [ngClass]="getSortIconClass('iqty')"
                    >arrow_downward</mat-icon
                  >
                </span>
              </div>
            </th> -->
            <td mat-cell *matCellDef="let element">
              <div>{{ element.iprice }}</div>
              <div>{{ element.iqty }}</div>
            </td>
          </ng-container>
        </mat-panel-description>
        <mat-panel-description matColumnDef="iprice">
          <span>{{ element.cmp }}</span>
        </mat-panel-description>

        <mat-panel-description>
          <div>{{ element.dotsum.score }}</div>
        </mat-panel-description>

        <mat-panel-description>
          <span> {{ element.iprice }}</span>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div>
        <!-- Details section that will be shown when the panel is expanded -->
        <div *ngIf="element.details!">
          <div *ngFor="let detail of element.details">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <div>{{ detail.short }}</div>
              </mat-panel-title>
              <mat-panel-title>
                <span>{{ detail.cmp }}</span>
              </mat-panel-title>

              <mat-panel-title>
                <div>{{ detail.iprice }}</div>
              </mat-panel-title>

              <mat-panel-title>
                <span> {{ detail.iprice }}</span>
              </mat-panel-title>
            </mat-expansion-panel-header>
          </div>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>

<!-- new -->
<div>
  <mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title> This is the expansion title </mat-panel-title>
        <mat-panel-description>
          This is a summary of the content
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>This is the primary content of the panel.</p>
    </mat-expansion-panel>

    <mat-expansion-panel
      (opened)="panelOpenState.set(true)"
      (closed)="panelOpenState.set(false)"
    >
      <mat-expansion-panel-header>
        <mat-panel-title> Self aware panel </mat-panel-title>
        <mat-panel-description>
          Currently I am {{ panelOpenState() ? "open" : "closed" }}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>I'm visible because I am open</p>
    </mat-expansion-panel>
  </mat-accordion>
</div>
