<swiper-container
  [slidesPerView]="2.5"
  [spaceBetween]="10"
  [speed]="500"
  [navigation]="true"
  [autoplay]="{ delay: 5000 }">

  <swiper-slide class="slide-1">
    <div
    style="
    width: 900px;
    "
    class="slide-content" style="background-color: lightcoral;"></div>
  </swiper-slide>
  <swiper-slide class="slide-2">
    <div class="slide-content" style="background-color: lightblue;"></div>
  </swiper-slide>
  <swiper-slide class="slide-3">
    <div class="slide-content" style="background-color: lightgreen;"></div>
  </swiper-slide>
  <swiper-slide class="slide-4">
    <div class="slide-content" style="background-color: lightgoldenrodyellow;"></div>
  </swiper-slide>
  <swiper-slide class="slide-5">
    <div class="slide-content" style="background-color: lightpink;"></div>
  </swiper-slide>
  <swiper-slide class="slide-6">
    <div class="slide-content" style="background-color: lightgray;"></div>
  </swiper-slide>

</swiper-container>
