<nav
  style="
    display: flex;
    gap: 10px;
    border: 2px solid gray;
    justify-content: center;
  "
>
  <button (click)="onClick('overview')">OVERVIEW</button>
  <button (click)="onClick('holding')">HOLDING</button>
  <button (click)="onClick('overview')">PRICE</button>
</nav>

<div *ngIf="stocks!">
  <table style="width: 100%; border-collapse: collapse">
    <thead>
      <tr style="height: 50px; text-align: center">
        <th style="width: 250px; text-align: left">
          <div>Company</div>
          <div style="color: gray; font-size: smaller">Industry</div>
        </th>
        <th>
          <div>score</div>
          <!-- <div style="color: gray; font-size: smaller">
            IPO closing date
          </div> -->
        </th>
        <th>
          <div>Latest Price</div>
          <div style="color: gray; font-size: smaller">Change</div>
        </th>
        <th>
          <div>Inv price</div>
          <div style="color: gray; font-size: smaller">Quality</div>
        </th>
        <th>
          <div>Inv Value</div>
          <div style="color: gray; font-size: smaller">inv. Date</div>
        </th>
        <th style="width: 150px">
          <div>Days Gain</div>
          <div style="color: gray; font-size: smaller">in%</div>
        </th>
        <th style="width: 150px">
          <div>unrealized Gain</div>
          <div style="color: gray; font-size: smaller">in%</div>
        </th>
        <th>Latest Value</th>
      </tr>
    </thead>


    <!-- <tbody *ngFor="let hello of stocks.data.list | keyvalue" >
      <tr
        style="
          height: 50px;
          border-bottom: 1px solid gainsboro;
          text-align: center;
        "
      >
        <td style="text-align: left">
          <div style="color: blue">
            {{ hello.value.sname }}
          </div>
          <div style="font-weight: 400; color: grey; font-size: small">
            {{ hello.industry }}
          </div>
        </td>
        <td>
          <div
            [ngStyle]="{ color: getStatusColor(hello.mojocall.sub_status) }"
          >
            {{ hello.mojocall.sub_status }}
          </div>
          <div style="font-weight: 400; font-size: small">
            {{ hello.close_date }}
          </div>
        </td>
        <td>{{ hello.issue_price }}.00</td>
        <td>
          <div>
            {{ hello.listed_price }}
          </div>
          <div
            [ngStyle]="{ color: getListedGlColor(hello.listedgl) }"
            style="font-weight: 400; font-size: small"
          >
            ({{ hello.listedgl }})
          </div>
        </td>
        <td>
          <div>{{ hello.cmp }}</div>
          <div
            [ngStyle]="{ color: getListedGlColor(hello.dgain_perc) }"
            style="font-weight: 400; font-size: small"
          >
            {{ hello.dgain_perc }}
          </div>
        </td>
        <td
          style="
            background-color: lightgreen;
            border-right: 1px solid gainsboro;
          "
          [ngStyle]="{
            color: getListedGlColor(hello.perc_chng_issue_price)
          }"
        >
          {{ hello.perc_chng_issue_price }}
        </td>
        <td
          style="background-color: lightgreen"
          [ngStyle]="{
            color: getListedGlColor(hello.perc_chng_listing_price)
          }"
        >
          {{ hello.listed_price }}
        </td>
      </tr>
    </tbody> -->

  </table>

  `
  <div *ngFor="let stock of stocks.data.list | keyvalue">
    <h3>{{ stock.value.sname }} ({{ stock.value.short }})</h3>
    <p>Current Price: {{ stock.value.cmp }}</p>
    <p>Change: {{ stock.value.chg }} ({{ stock.value.chgp }}%)</p>
    <!-- <p>Volume: {{ stock.value.vol }}</p> -->
    <p>Market Cap: {{ stock.value.mcap }}</p>
    <!-- Add more details as needed -->
  </div>
</div>
