<!-- scroll to the element navbar -->

<section
>


<div style="display: flex; flex-wrap: wrap; background-color: rgb(10, 10, 65)">
  <span
    *ngFor="let item of items"
    [ngStyle]="{
      'background-color': TYPE === item ? 'gainsboro' : '',
      color: TYPE === item ? 'black' : 'white',
      padding: '1% 1.5%',
      'border-right': '1px solid gray',
      cursor: 'pointer',
      'font-size': '12px',
    }"
    (click)="onClick(item)"
  >
    {{ item }}
  </span>
</div>

<!-- table and its buttons -->
<div
style="
padding: 1%;
"
id="element1">
  <app-tables />
</div>

<!-- Add IDs to the sections -->
<div id="element2">Element 2</div>


<div id="element3">Element 3</div>

<div id="element4">Element 4</div>

</section>
