<!-- search -->
<app-research-service
  (myEvent_InputValue)="recievedDataEvent($event)"
  (myEvent2_Reportstate)="recievedReportStateEvent($event)"
  (myEvent3_LoadingState)="recievedLoadingStateEvent($event)"
/>

<!-- loading -->
<app-verdictloading [hidden]="loadingState" />

<!-- report -->
<!-- inputData.length < 1 || boxState -->
<app-verdictreport
  [hidden]="inputData.length < 1 || boxState"
  *ngFor="let item of ReportResponse | filterReport : inputData"
  [reportData]="item"
  (myEvent_CloseBox)="recievedReportStateEvent($event)"
/>

<app-verdict1 />
<app-verdict2 />
<app-verdict3 />

<!-- footer -->
<app-verdictfooter />
