<h3 style="margin-left: 120px">BSE IPO INDEX</h3>
<div class="container" style="padding: 20px">
  <div style="display: flex; justify-content: space-between">
    <!-- info -->
    <span
      style="
        /* width: 100%; */
        /* text-align: right; */
        justify-content: left;
        display: flex;
      "
    >
      <p style="color: gray; font-weight: 400; width: 120px">BSE IPO INDEX</p>
      <p style="font-size: x-large; margin-left: 1%; font-weight: 500">
        {{ maxYY }}
      </p>
    </span>

    <!-- buttons -->
    <span
      style="
        /* text-align: right; */
        /* justify-content: right; */
        display: flex;
        gap: 4%;
        margin-right: 40px;
      "
    >
      <span>
        <button
          type="button"
          class="btn btn-primary"
          (click)="onGraphButtonClick('1D')"
        >
          1D
        </button>
      </span>

      <span>
        <button
          type="button"
          class="btn btn-primary"
          (click)="onGraphButtonClick('1W')"
        >
          1W
        </button>
      </span>

      <span>
        <button
          type="button"
          class="btn btn-primary"
          (click)="onGraphButtonClick('1M')"
        >
          1M
        </button>
      </span>

      <span>
        <button
          type="button"
          class="btn btn-primary"
          (click)="onGraphButtonClick('1Y')"
        >
          1Y
        </button>
      </span>

      <span>
        <button
          type="button"
          class="btn btn-primary"
          (click)="onGraphButtonClick('3Y')"
        >
          3Y
        </button>
      </span>
    </span>
  </div>

  <div
    *ngIf="graphData!.data!"
    style="display: flex; justify-content: space-between; padding: 0% 5%"
  >
    <span style="display: flex; gap: 6%; font-size: small">

      <span>
        <div>Top Gainer</div>
        <div style="color: green">
          {{ graphData.data.graph_indices[0].TOP_GAINER.name }}
        </div>
      </span>
      <span>
        <div>Top Loser</div>
        <div style="color: red">
          {{ graphData.data.graph_indices[0].TOP_LOSER.name }}
        </div>
      </span>
      <span>
        <div>ADVANCES</div>
        <div style="color: green">
          {{ graphData.data.graph_indices[0].ADVANCES }} Stocks
        </div>
      </span>
      <span>
        <div>DECLINES</div>
        <div style="color: red">
          {{ graphData.data.graph_indices[0].DECLINES }} Stocks
        </div>
      </span>
      <span>
        <div>NO CHANGE</div>
        <div>{{ graphData.data.graph_indices[0].NO_CHANGE }} Stocks</div>
      </span>

    </span>

    <span> 

         <!-- line indicater -->
         <div class="line-container">
          <div class="line">
            <div class="segment red"></div>
            <div class="segment orange"></div>
            <div class="segment green"></div>
          </div>

          
          <!-- *ngIf="hero" -->
          <!-- [ngStyle]="getDotProperties(hero)" -->
          <div
            class="dot"
          ></div>

          <div class="hello">
            <span class="a">Avoid</span>
            <span class="n">Neutral</span>
            <span class="s">Subscribe</span>
          </div>
        </div>

    </span>

  </div>

  <div [chart]="areaChart"></div>
</div>
