<p>switch-options works!</p>
<div class="card text-center" style="min-height: auto">
  <div style="text-align: end; padding-right: 20px; padding-top: 20px">
    <button
      style="
        border-radius: 50%;
        width: 30px;
        height: 30px;
        background-color: gray;
        color: white;
      "
      (click)="onClose()"
    >
      X
    </button>
  </div>

  <div class="card-body" style="display: grid">
    <!-- head -->
    <div style="font-weight: 600; padding: 0 40px; padding-bottom: 30px">
      <div>You Have Entered</div>
      <div style="font-weight: 700; font-size: x-large">
        Stock Name :- {{ reportData?.data?.sname }}
      </div>
      <div>
        Sector: {{ reportData?.data?.ind_name }} | Market Cap:
        {{ reportData?.data?.mcapclass }} (1,36,157 cr)
      </div>
    </div>

    <div style="font-size: large">DO YOU WANT TO SWITCH TO</div>

    <div style="text-align: center">

      <div *ngFor="let hero of reportData!.data!.ques!.list[0].opt">
        <input
          type="radio"
          id="{{hero.valsid}}"
          name="{{hero.short_name}}"
          [(ngModel)]="selectedValue"
          value="{{hero.valsid}}"
        />
        <label for="{{hero.valsid}}"
          > {{hero.txt}} </label
        >
      </div>

      <!-- <div>
        <input
          type="radio"
          id="largeCapRadio"
          name="ratingGroup"
          [(ngModel)]="selectedValue"
          value="largeCap"
        />
        <label for="largeCapRadio">Higher rated Stock in Large Cap</label>
      </div>

      <div>
        <input
          type="radio"
          id="acrossMarketRadio"
          name="ratingGroup"
          [(ngModel)]="selectedValue"
          value="acrossMarket"
        />
        <label for="acrossMarketRadio"
          >Higher rated Stock across the Market</label
        >
      </div> -->

      <button style="width: 300px" (click)="getValue(selectedValue)">
        run switcher
      </button>
    </div>

    <!-- body -->
    <!-- copy paste from verdictreport -->
  </div>
</div>
