<!-- search -->
<app-research-service
  [imgSrc]="'https://i.marketsmojo.com/switcher/switcher-logo2_new.png'"
  [title]="
    'A quick guide on how to replace your current stocks with mojo recommended stocks​'
  "
  [serachBoxText]="'RUN SWITCHER'"
  [hideQuantityBox]="false"
  (myEvent_InputValue)="recievedDataEvent($event)"
  (myEvent2_Reportstate)="recievedReportStateEvent($event)"
  (myEvent3_LoadingState)="recievedLoadingStateEvent($event)"
/>

<!-- loading -->
<app-verdictloading
  [hidden]="loadingState"
  [barColor]="'rgb(102, 102, 233)'"
  [text1]="'Loading Switcher Report'"
/>

<!-- report -->
<!-- inputData.length < 1 || boxState -->
<!-- <app-verdictreport
  [hidden]="inputData.length < 1 || ReportBoxState"

  *ngFor="let item of switcherGetRespone | filterReport : inputData"
  [reportData]="item"

  (myEvent_CloseBox)="recievedReportStateEvent($event)"
/> -->

<app-switcher-report

  [hidden]="inputData.length < 1 || ReportBoxState"
  *ngFor="let item of switcherGetRespone | filterSwitcherReport : inputData"

  [reportData]="item"

  (myEvent_CloseBox)="recievedReportStateEvent($event)"

/>

<!-- verdict 1 -->
<app-verdict1
  [verdictLists]="verdict1SwitcherListData"
  [verdictListHeader]="'ASK US ABOUT ANY STOCK YOU HOLD'"
  [imgageUrl]="'https://i.marketsmojo.com/switcher/switcher_thumb_new1.png'"
/>

<app-verdict2
  [imgSrc]="'https://i.marketsmojo.com/switcher/switcher_thumb2.png'"
/>

<!-- section -->
<app-verdict3new [sectionData]="sectionDataSwitcher" />

<!-- footer -->
<app-verdictfooter />
