<!-- search -->
<!-- it will give you sname onclick -->
<app-research-service
  [imgSrc]="'https://i.marketsmojo.com/switcher/switcher-logo2_new.png'"
  [title]="
    'A quick guide on how to replace your current stocks with mojo recommended stocks​'
  "
  [serachBoxText]="'RUN SWITCHER'"
  [hideQuantityBox]="false"
  (myEvent_InputValue)="recievedDataEvent($event)"
  (myEvent2_Reportstate)="recievedReportStateEvent($event)"
  (myEvent3_LoadingState)="recievedLoadingStateEvent($event)"
  (myEvent4_ChooseValue)="recievedChooseValue($event)"
/>

<!-- loading -->
<app-verdictloading
  [hidden]="loadingState"
  [barColor]="'rgb(102, 102, 233)'"
  [text1]="'Loading Switcher Report'"
/>

<!-- reports, choices and options -->
<!-- inputData.length < 1 || REPORTB0X_STATE -->

<!-- the report is {{ reportDataEvent?.data?.verdict?.stock_details?.sname }} -->

<div *ngFor="let item of switcherGetRespone | filterSwitcherReport : inputData">
  <!-- it will create multiple reports based on search input -->
  <app-switcher-report
    [hidden]="
      inputData.length < 1 ||
      REPORTB0X_STATE ||
      reportDataEvent?.data?.ques?.switch_msg === 'YOU HAVE ENTERED'
    "
    [reportData]="item"
    (myEvent_CloseBox)="recievedReportStateEvent($event)"
    (reportDataEvent)="recievedReportDataEvent($event)"
  />

  <!-- reportDataEvent?.data?.ques?.switch_msg !== 'YOU HAVE ENTERED' ||
  REPORTB0X_STATE -->
  <!-- reportDataEvent?.data?.ques?.switch_msg === 'YOU HAVE ENTERED' -->
  <app-switch-options
    (myEvent_CloseBox)="recievedReportStateEvent($event)"
    (myEvent2_ChoiceValue)="recievedChooseValue($event)"
    (myEvent3_resultState)="recievedResultstate($event)"
    [hidden]="
      reportDataEvent?.data?.ques?.switch_msg !== 'YOU HAVE ENTERED' ||
      REPORTB0X_STATE ||
      CHOICE_VALUE
    "
    *ngIf="reportDataEvent?.data?.ques?.switch_msg === 'YOU HAVE ENTERED'"
    [reportData]="reportDataEvent"
  />

  <!-- switcher report -->

  <div  >
    <app-switch-result
    [reportData]="reportDataEvent"
      (myEvent_resultState)="recievedResultstate($event)"
      [hidden]="SWITCHER_RESULT_STATE"
    />
  </div>

  <app-switch-other-choices *ngIf="false" />
</div>

<!-- the message is {{ reportDataEvent?.data?.ques?.switch_msg }} -->

<!-- *ngIf="reportDataEvent?.data?.ques?.switch_msg == 'YOU HAVE ENTERED'" -->

<!-- verdict 1 -->
<app-verdict1
  [verdictLists]="verdict1SwitcherListData"
  [verdictListHeader]="'ASK US ABOUT ANY STOCK YOU HOLD'"
  [imgageUrl]="'https://i.marketsmojo.com/switcher/switcher_thumb_new1.png'"
/>

<app-verdict2
  [imgSrc]="'https://i.marketsmojo.com/switcher/switcher_thumb2.png'"
/>

<!-- section -->
<app-verdict3new [sectionData]="sectionDataSwitcher" />

<!-- footer -->
<app-verdictfooter />
