<div class="container">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <!-- ng-repeat="heros in IPOData.heros track by $index" -->
            <div class="swiper-slide" ng-repeat="heros in IPOData.heros track by $index">
                <div class="row">
                    <div class="col-md-4">
                        <div class="ipoimgleft">
                            img
                            <!-- <img ng-src="https://i.marketsmojo.com/{{heros.stock_logo}}" /> -->
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div>
                            <div class="ipos_name">
                                <p>herosname</p>
                                <!-- <p class="sth1 mb-0">{{heros.sname}}</p> -->
                                <div class="ipos_name_tag">
                                    <!-- {{heros.status}}  -->
                                    IPO</div>
                            </div>
                            <p class="sth2 mb-0">
                                <span>Price Band:</span>
                                <span class="sth3">Rs
                                     <!-- {{heros.lower_band_price}} -->
                                    </span>
                                <span class="sth3">-</span>
                                <span class="sth3">Rs
                                     <!-- {{heros.upper_band_price}} -->
                                    </span>
                            </p>
                        </div>
                        <div class="d-flex1455">
                            <div class="scw" ng-if="heros.mojocall.sub_status == 'Avoid'">
                                div1
                                <!-- <div class="number_circle avoid" style="right:{{heros.mojocall.sub_point}}"></div> -->
                            </div>
                            <div class="scw" ng-if="heros.mojocall.sub_status == 'Neutral'">
                                div2
                                <!-- <div class="number_circle netural" style="right:{{heros.mojocall.sub_point}}"></div> -->
                            </div>
                            <div class="scw" ng-if="heros.mojocall.sub_status == 'Subscribe'">
                                div3
                                <!-- <div class="number_circle subscribe" style="right:{{heros.mojocall.sub_point}}"></div> -->
                            </div>
                        </div>
                        <div class="d-flex1455 mtt-3">
                            <div class="avoid"><span class="iposlidetext2">AVOID</span></div>
                            <div class="netural"><span class="iposlidetext2">NEUTRAL</span></div>
                            <div class="subscribe"><span class="iposlidetext2">SUBSCRIBE</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Add Pagination if needed -->
        <div class="swiper-pagination"></div>
        <!-- Add Navigation if needed -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>
</div>
