<!-- trail -->

<div class="card text-center" style="height: 200px">
  <div class="card-body" style="display: grid">
    <!-- head -->

    <!-- body -->
    <div class="container" style="height: 72vh">
      <div class="row" style="height: 100%">
        <!-- col1 -->
        <div class="col-md-6"></div>

        <!-- col2 -->
        <div class="col-md-6">
          <div>test1</div>

          <!-- <div *ngIf="ID_CHOICE_VALUE">
            <div>the other choices are:</div>

            <div
              *ngFor="let shortName of getOtherChoiceShortName(ID_CHOICE_VALUE)"
            >
              <div>{{ shortName }}</div>
            </div>
          </div> -->

          <div>test2</div>
          <div *ngIf="ID_CHOICE_VALUE">
            <div
              *ngFor="
                let item of reportData | filterOtherSwitchers : ID_CHOICE_VALUE
              "
            >
              <div>
                {{ item }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- body -->
    <!-- copy paste from verdictreport -->
  </div>
</div>

<!-- trail -->
