<p>switch-other-choices works!</p>

<!-- <div *ngIf="reportData.data?.ques?.list[0].opt">
  <div
    *ngFor="
      let item of reportData.data?.ques?.list[0].opt
        | filterOtherSwitchers : ID_CHOICE_VALUE
    "
  >
    <div *ngIf="item.other_choice['112501']">
      {{ item.other_choice["112501"].short_name }}
    </div>

  </div>
</div> -->

<div *ngIf="ID_CHOICE_VALUE">
  <div *ngFor="let shortName of getOtherChoiceShortName(ID_CHOICE_VALUE)">
    <div>{{ shortName }}</div>
  </div>
</div>
